# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
CodingPractice/.ipynb_checkpoints/
CodingPractice/JupyterPractice.ipynb
CodingPractice/data.csv
CodingPractice/data.json
env/bin/chardetect
env/bin/f2py
env/bin/iptest
env/bin/iptest2
env/bin/ipython
env/bin/ipython2
env/bin/jsonschema
env/bin/jupyter
env/bin/jupyter-bundlerextension
env/bin/jupyter-console
env/bin/jupyter-kernelspec
env/bin/jupyter-migrate
env/bin/jupyter-nbconvert
env/bin/jupyter-nbextension
env/bin/jupyter-notebook
env/bin/jupyter-qtconsole
env/bin/jupyter-run
env/bin/jupyter-serverextension
env/bin/jupyter-troubleshoot
env/bin/jupyter-trust
env/bin/pygmentize
env/lib/python2.7/ntpath.pyc
env/lib/python2.7/site-packages/IPython/
env/lib/python2.7/site-packages/Jinja2-2.9.6.dist-info/
env/lib/python2.7/site-packages/MarkupSafe-1.0.dist-info/
env/lib/python2.7/site-packages/Pygments-2.2.0.dist-info/
env/lib/python2.7/site-packages/_posixsubprocess.so
env/lib/python2.7/site-packages/_scandir.so
env/lib/python2.7/site-packages/appnope-0.1.0.dist-info/
env/lib/python2.7/site-packages/appnope/
env/lib/python2.7/site-packages/backports.functools_lru_cache-1.4.dist-info/
env/lib/python2.7/site-packages/backports.shutil_get_terminal_size-1.0.0.dist-info/
env/lib/python2.7/site-packages/backports/
env/lib/python2.7/site-packages/backports_abc-0.5.dist-info/
env/lib/python2.7/site-packages/backports_abc.py
env/lib/python2.7/site-packages/backports_abc.pyc
env/lib/python2.7/site-packages/bleach-2.1.1.dist-info/
env/lib/python2.7/site-packages/bleach/
env/lib/python2.7/site-packages/certifi-2017.7.27.1.dist-info/
env/lib/python2.7/site-packages/certifi/
env/lib/python2.7/site-packages/chardet-3.0.4.dist-info/
env/lib/python2.7/site-packages/chardet/
env/lib/python2.7/site-packages/configparser-3.5.0-py2.7-nspkg.pth
env/lib/python2.7/site-packages/configparser-3.5.0.dist-info/
env/lib/python2.7/site-packages/configparser.py
env/lib/python2.7/site-packages/configparser.pyc
env/lib/python2.7/site-packages/cycler-0.10.0.dist-info/
env/lib/python2.7/site-packages/cycler.py
env/lib/python2.7/site-packages/cycler.pyc
env/lib/python2.7/site-packages/dateutil/
env/lib/python2.7/site-packages/decorator-4.1.2.dist-info/
env/lib/python2.7/site-packages/decorator.py
env/lib/python2.7/site-packages/decorator.pyc
env/lib/python2.7/site-packages/entrypoints-0.2.3.dist-info/
env/lib/python2.7/site-packages/entrypoints.py
env/lib/python2.7/site-packages/entrypoints.pyc
env/lib/python2.7/site-packages/enum/
env/lib/python2.7/site-packages/enum34-1.1.6.dist-info/
env/lib/python2.7/site-packages/functools32-3.2.3.post2.dist-info/
env/lib/python2.7/site-packages/functools32/
env/lib/python2.7/site-packages/html5lib-1.0b10.dist-info/
env/lib/python2.7/site-packages/html5lib/
env/lib/python2.7/site-packages/idna-2.6.dist-info/
env/lib/python2.7/site-packages/idna/
env/lib/python2.7/site-packages/ipykernel-4.6.1.dist-info/
env/lib/python2.7/site-packages/ipykernel/
env/lib/python2.7/site-packages/ipykernel_launcher.py
env/lib/python2.7/site-packages/ipykernel_launcher.pyc
env/lib/python2.7/site-packages/ipython-5.5.0.dist-info/
env/lib/python2.7/site-packages/ipython_genutils-0.2.0.dist-info/
env/lib/python2.7/site-packages/ipython_genutils/
env/lib/python2.7/site-packages/ipywidgets-7.0.3.dist-info/
env/lib/python2.7/site-packages/ipywidgets/
env/lib/python2.7/site-packages/jinja2/
env/lib/python2.7/site-packages/jsonschema-2.6.0.dist-info/
env/lib/python2.7/site-packages/jsonschema/
env/lib/python2.7/site-packages/jupyter-1.0.0.dist-info/
env/lib/python2.7/site-packages/jupyter.py
env/lib/python2.7/site-packages/jupyter.pyc
env/lib/python2.7/site-packages/jupyter_client-5.1.0.dist-info/
env/lib/python2.7/site-packages/jupyter_client/
env/lib/python2.7/site-packages/jupyter_console-5.2.0.dist-info/
env/lib/python2.7/site-packages/jupyter_console/
env/lib/python2.7/site-packages/jupyter_core-4.3.0.dist-info/
env/lib/python2.7/site-packages/jupyter_core/
env/lib/python2.7/site-packages/markupsafe/
env/lib/python2.7/site-packages/matplotlib-2.1.0-py2.7-nspkg.pth
env/lib/python2.7/site-packages/matplotlib-2.1.0.dist-info/
env/lib/python2.7/site-packages/matplotlib/
env/lib/python2.7/site-packages/mistune-0.7.4.dist-info/
env/lib/python2.7/site-packages/mistune.py
env/lib/python2.7/site-packages/mistune.pyc
env/lib/python2.7/site-packages/mistune/
env/lib/python2.7/site-packages/mpl_toolkits/
env/lib/python2.7/site-packages/nbconvert-5.3.1.dist-info/
env/lib/python2.7/site-packages/nbconvert/
env/lib/python2.7/site-packages/nbformat-4.4.0.dist-info/
env/lib/python2.7/site-packages/nbformat/
env/lib/python2.7/site-packages/notebook-5.2.0.dist-info/
env/lib/python2.7/site-packages/notebook/
env/lib/python2.7/site-packages/numpy-1.13.3.dist-info/
env/lib/python2.7/site-packages/numpy/
env/lib/python2.7/site-packages/pandas-0.20.3.dist-info/
env/lib/python2.7/site-packages/pandas/
env/lib/python2.7/site-packages/pandas_datareader-0.5.0.dist-info/
env/lib/python2.7/site-packages/pandas_datareader/
env/lib/python2.7/site-packages/pandocfilters-1.4.2.dist-info/
env/lib/python2.7/site-packages/pandocfilters.py
env/lib/python2.7/site-packages/pandocfilters.pyc
env/lib/python2.7/site-packages/pathlib2-2.3.0.dist-info/
env/lib/python2.7/site-packages/pathlib2.py
env/lib/python2.7/site-packages/pathlib2.pyc
env/lib/python2.7/site-packages/pexpect-4.2.1.dist-info/
env/lib/python2.7/site-packages/pexpect/
env/lib/python2.7/site-packages/pickleshare-0.7.4.dist-info/
env/lib/python2.7/site-packages/pickleshare.py
env/lib/python2.7/site-packages/pickleshare.pyc
env/lib/python2.7/site-packages/prompt_toolkit-1.0.15.dist-info/
env/lib/python2.7/site-packages/prompt_toolkit/
env/lib/python2.7/site-packages/ptyprocess-0.5.2.dist-info/
env/lib/python2.7/site-packages/ptyprocess/
env/lib/python2.7/site-packages/pygments/
env/lib/python2.7/site-packages/pylab.py
env/lib/python2.7/site-packages/pylab.pyc
env/lib/python2.7/site-packages/pyparsing-2.2.0.dist-info/
env/lib/python2.7/site-packages/pyparsing.py
env/lib/python2.7/site-packages/pyparsing.pyc
env/lib/python2.7/site-packages/python_dateutil-2.6.1.dist-info/
env/lib/python2.7/site-packages/pytz-2017.2.dist-info/
env/lib/python2.7/site-packages/pytz/
env/lib/python2.7/site-packages/pyzmq-16.0.2.dist-info/
env/lib/python2.7/site-packages/qtconsole-4.3.1.dist-info/
env/lib/python2.7/site-packages/qtconsole/
env/lib/python2.7/site-packages/requests-2.18.4.dist-info/
Woul
d remove env/lib/python2.7/site-packages/requests/
env/lib/python2.7/site-packages/requests_file-1.4.2.dist-info/
env/lib/python2.7/site-packages/requests_file.py
env/lib/python2.7/site-packages/requests_file.pyc
env/lib/python2.7/site-packages/requests_ftp-0.3.1.dist-info/
env/lib/python2.7/site-packages/requests_ftp/
env/lib/python2.7/site-packages/scandir-1.6.dist-info/
env/lib/python2.7/site-packages/scandir.py
env/lib/python2.7/site-packages/scandir.pyc
env/lib/python2.7/site-packages/shutil_backports/
env/lib/python2.7/site-packages/simplegeneric-0.8.1.dist-info/
env/lib/python2.7/site-packages/simplegeneric.py
env/lib/python2.7/site-packages/simplegeneric.pyc
env/lib/python2.7/site-packages/singledispatch-3.4.0.3.dist-info/
env/lib/python2.7/site-packages/singledispatch.py
env/lib/python2.7/site-packages/singledispatch.pyc
env/lib/python2.7/site-packages/singledispatch_helpers.py
env/lib/python2.7/site-packages/singledispatch_helpers.pyc
env/lib/python2.7/site-packages/six-1.11.0.dist-info/
env/lib/python2.7/site-packages/six.py
env/lib/python2.7/site-packages/six.pyc
env/lib/python2.7/site-packages/subprocess32-3.2.7.dist-info/
env/lib/python2.7/site-packages/subprocess32.py
env/lib/python2.7/site-packages/subprocess32.pyc
env/lib/python2.7/site-packages/terminado-0.6.dist-info/
env/lib/python2.7/site-packages/terminado/
env/lib/python2.7/site-packages/testpath-0.3.1.dist-info/
env/lib/python2.7/site-packages/testpath/
env/lib/python2.7/site-packages/tornado-4.5.2.dist-info/
env/lib/python2.7/site-packages/tornado/
env/lib/python2.7/site-packages/traitlets-4.3.2.dist-info/
env/lib/python2.7/site-packages/traitlets/
env/lib/python2.7/site-packages/urllib3-1.22.dist-info/
env/lib/python2.7/site-packages/urllib3/
env/lib/python2.7/site-packages/wcwidth-0.1.7.dist-info/
env/lib/python2.7/site-packages/wcwidth/
env/lib/python2.7/site-packages/webencodings-0.5.1.dist-info/
env/lib/python2.7/site-packages/webencodings/
env/lib/python2.7/site-packages/widgetsnbextension-3.0.6.dist-info/
env/lib/python2.7/site-packages/widgetsnbextension/
env/lib/python2.7/site-packages/zmq/
env/lib/python2.7/site-packages/requests/
env/share/
